<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <title>
        HomePlate
    </title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,700|Raleway:200i|Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/css/style.css' />


</head>

<body ng-app='myApp' ng-cloak>
    <div ng-controller="AuthCtrl" layout="column" ng-cloak>
        <md-toolbar id="header" class="md-primary ">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <div flex flex-offset="10">
                    <img src="../public/img/woodlogo.png"></img>
                    <!-- <h1>HomePlate</h1> -->
                </div>
                <div hide show-gt-sm layout="row">
                    <md-button>Login</md-button>
                </div>
                <div>
                    <md-button hide-gt-sm class="md-icon-button" aria-label="Settings" ng-click="toggleRight()">
                        <i class="material-icons">menu</i>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
        <md-sidenav class="md-sidenav-right" md-component-id="right" md-whiteframe="4">
            <md-content layout-padding ng-controller="RightCtrl">
                <md-list flex>
                    <md-list-item class="md-3-line" ng-click="goProfile()">
                        <img ng-src="img/profpic.png" class="md-avatar" alt="blahfa" />
                        <div class="md-list-item-text" layout="column">
                            <h3>{{$parent.username}}</h3>
                            <h4></h4>
                            <p></p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="goDash()">
                        <p> Option1</p>
                        <img src="https://maxcdn.icons8.com/office/PNG/40/Business/line_chart-40.png" title="Line Chart" width="24">
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="goAchievements()">
                        <p>Option2</p>
                        <img src="https://maxcdn.icons8.com/Color/PNG/48/Sports/trophy-48.png" title="Trophy" width="24">
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="goStory()">
                        <p>Option3</p>
                        <img src="https://maxcdn.icons8.com/Color/PNG/48/Very_Basic/about-48.png" title="About" width="24">
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-content>
        </md-sidenav>
        <!--sidenav-->
        <div ng-view ></div>
        <footer>
            <p>Welcome to
            </p>

            <a href="/user">user</a>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>


    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>
    <script src="js/app.js">
    </script>
    <script type="text/javascript" src="js/controllers.js">
    </script>

</body>

</html>
