body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
  color: #00B7FF;
}

#login_div {
  background-color: white;
  display: none;
  margin: auto;
  padding: 10px;
  z-index: 2000;
}
