


<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
    <md-content ng-controller="RightCtrl" layout-padding>

        <form>
            <md-input-container>
                <label for="testInput">Test input</label>
                <input type="text" id="testInput" ng-model="data" md-autofocus>
            </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
            Close Sidenav Right
        </md-button>
        <md-button  ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-raised ">Cancel</md-button>
        <md-button  ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-raised ">Save</md-button>
    </md-content>
</md-sidenav>

<div class="user-Logo">
	<img ng-src=""/>
</div>
<div class="user-PP"></div>
<div class="user-projects"></div>
<div class="user-timeline"></div>
<div class="user-about"></div>
<div layout="row" layout-align="end center">
	<md-button  ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-raised md-warn">Edit</md-button>
</div>


<div layout="row" layout-align="start center">
<div flex="35" class="PP">
	<img ng-src="img/PP.jpg" alt=""/>
</div>
<div flex="65" class="user-about">
	<h1>All about Timmy:</h1>
	<p> I'm a young and ambitious kid! When I grow up I want to be a doctor, a lawyer and a baseball player!</p>
</div>
      
 </div>





	<div layout="row" layout-align="start center" layout-padding>
	<div flex="40" class="user-interests">
	 <md-card>
        <img ng-src="img/baseball.jpg " class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Interests</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Baseball, soccer, reading, sleeping, memes <i class="material-icons">mode_edit</i>
            
          </p>
        
        </md-card-content>
       
      </md-card>
</div>
<div flex="60" class="user-activity">
	<h2> Latest activity</h2>
</div>
</div>
<div class="user-fav-song"></div>
<md-button>edit</md-button>



